{% extends "base.html" %}
    {% block page_content %}

    	<div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                    	<h1>Acerca de nosotros </h1>
                    	<div>
                    		<p>Geekingdom nace en 2017 en El SAlvador con una premisa simple: Que todos aquellos que coleccionamos figuras, accesorios o productos de series, peliculas, franquicias o animes no tuvieramos que pagar los precios exorbitantes que exigen en la mayoria de tiendas. Para esto, se busco minimizar los costos para nuestros clientes a traves de entregas en otras ubicaciones, sin tener una tienda fisica que invlucrara pagos de servicios, etc.
                    		</p>
                    		<p>
                    			Como tienda te prometemos:
                    			<ul>
                    				<li><b>Productos originales:</b> A menos que este expresamente establecido en la descripcion del articulo, el producto es de la marca que dice ser, punto.</li>
                    				<li><b>Precios Accesibles:</b> Nuestros precios estan por debajo de la media en las tiendas fisicas, y aun algunos vendedores en linea.</li>
                    			</ul>
                    		</p>

                    	</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}