{% extends "base.html" %}
    {% block page_content %}
        <div class="shop_sidebar_area">
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Categorias</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        {% for cat in categorias %}
                                <li 
                            {% if cat.id == categoria.id %} class="active" {% endif %} 
                            ><a href="{{ url_for('main.categoria', slug=cat.slug) }}">{{cat.nombre}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p>Mostrando 
                                {% if productos.per_page*productos.page < productos.total %}
                                    {{productos.per_page*productos.page}} 
                                {% else %}
                                    {{productos.total}}
                                {% endif %}
                                de {{productos.total}}
                            </p>
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="view-product d-flex align-items-center">
                                    <p>View</p>
                                    <form action="#" method="get" id="sizeForm">
                                        <select name="size" id="viewProduct">
                                            <option value="20">20</option>
                                            <option value="40">40</option>
                                            <option value="60">60</option>
                                            <option value="80">80</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if not (categoria.productos is defined and categoria.productos[0] is defined) %}
                    <div>
                            <h2>Lo sentimos, esta categoria no tiene productos asociados</h2>
                        </div>
                    {% else %}
                    {{productos.total_pages}}    
                    {% for producto in productos.items %}
                    
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <a href="{{url_for('main.producto', slug=producto.slug)}}">
                                
                                <div class="product-img">
                                    {% if producto.imagenes is defined and producto.imagenes[0] is defined %}
                                    <img src="{{url_for('static',filename='productos/' + producto.imagenes.filter_by(primaria=True).first().ruta)}}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{url_for('static',filename='productos/' + producto.imagenes.filter_by(primaria=False).first().ruta)}}" alt="">
                                    {% else %}
                                        <img src="{{url_for('static',filename='productos/placeholder.png')}}" alt="">
                                    {% endif %}
                                </div>
                            </a>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">$180</p>
                                    <a href="{{url_for('main.producto',slug=producto.slug)}}">
                                        <h6>{{producto.nombre | truncate(50,False,'...',0)}} {{productos.total_pages}}  </h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        {% with stars = producto.estrellas() %}
                                            {% for i in range(stars[0] | int) %} 
                                                <i class="fa fa-star" aria-hidden="true"></i> 
                                            {% endfor %} 
                                            {% if stars[1] > 0 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-star-empty" aria-hidden="true"></i>  
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{{url_for('static', filename='core-img/cart.png')}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                {% if productos.page == 1 %}
                                    <li class="page-item"><a href="#">Ant.</a></li>
                                {% else %}
                                    <li class="page-item"><a href="{{prev_url}}">Ant.</a></li>
                                {% endif %}
                                {% for i in range(productos.page-2,productos.page+2) if not (i < 1 or i > productos.pages) %}
                                    <li class="page-item {% if i == productos.page %} active {% endif %}"><a class="page-link" href="{{url_for('main.categoria',slug=categoria.slug,page=i)}}">{{i}}</a></li>
                                {% endfor %}
                                {% if productos.page == productos.pages %}
                                    <li class="page-item"><a href="#">Sig.</a></li>
                                {% else %}
                                    <li class="page-item"><a href="{{next_url}}">Sig.</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
        {{super()}}
        <script type="text/javascript">
            $('#viewProduct').on('change', function(){
                $('#sizeForm').submit();
            })
        </script>
    {% endblock scripts%}