{% extends "base.html" %}
    {% block page_content %}
        <div class="shop_sidebar_area">
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Categorias</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        {% for cat in categorias %}
                                <li 
                            {% if cat.id == categoria.id %} class="active" {% endif %} 
                            ><a href="{{ url_for('main.categoria', slug=cat.slug) }}">{{cat.nombre}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Brands</h6>

                <div class="widget-desc">
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="amado">
                        <label class="form-check-label" for="amado">Amado</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ikea">
                        <label class="form-check-label" for="ikea">Ikea</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="furniture">
                        <label class="form-check-label" for="furniture">Furniture Inc</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="factory">
                        <label class="form-check-label" for="factory">The factory</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="artdeco">
                        <label class="form-check-label" for="artdeco">Artdeco</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p>Mostrando 1-8 de 25</p>
                                <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                    <p>Sort by</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortBydate">
                                            <option value="value">Date</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Popular</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="view-product d-flex align-items-center">
                                    <p>View</p>
                                    <form action="#" method="get">
                                        <select name="select" id="viewProduct">
                                            <option value="value">12</option>
                                            <option value="value">24</option>
                                            <option value="value">48</option>
                                            <option value="value">96</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if not (categoria.productos is defined and categoria.productos[0] is defined) %}
                    <div>
                            <h2>Lo sentimos, esta categoria no tiene productos asociados</h2>
                        </div>
                    {% else %}    
                    {% for producto in categoria.productos %}
                    
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <a href="{{url_for('main.producto', slug=producto.slug)}}">
                                
                                <div class="product-img">
                                    {% if producto.imagenes is defined and producto.imagenes[0] is defined %}
                                    <img src="{{url_for('static',filename='productos/' + producto.imagenes.filter_by(primaria=True).first().ruta)}}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{url_for('static',filename='productos/' + producto.imagenes.filter_by(primaria=False).first().ruta)}}" alt="">
                                    {% else %}
                                        <img src="{{url_for('static',filename='productos/placeholder.png')}}" alt="">
                                    {% endif %}
                                </div>
                            </a>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">$180</p>
                                    <a href="{{url_for('main.producto',slug=producto.slug)}}">
                                        <h6>{{producto.nombre | truncate(50,False,'...',0)}}</h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        {% with stars = producto.estrellas() %}
                                            {% for i in range(stars[0] | int) %} 
                                                <i class="fa fa-star" aria-hidden="true"></i> 
                                            {% endfor %} 
                                            {% if stars[1] > 0 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-star-empty" aria-hidden="true"></i>  
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{{url_for('static', filename='core-img/cart.png')}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                <li class="page-item"><a class="page-link" href="#">02.</a></li>
                                <li class="page-item"><a class="page-link" href="#">03.</a></li>
                                <li class="page-item"><a class="page-link" href="#">04.</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}