{% extends "base.html" %}
    {% block page_content %}

    <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                    	<h1>Cómo Funciona</h1>
                    	<div>
                    		Este sitio funciona como un catalogo interactivo para que puedas ver, elegir y revisar los productos que te ofrecemos en Geekingdom SV. No es una tienda automatizada, pues sabemos que nada quita el contacto uno a uno que podemos ofrecerte a traves de nuestro <a href="https://www.facebook.com/geekingdomsv">canal de Facebook</a>.
                    	</div>
                    	<div>
                    		Para que obtengas el mayor beneficio tom en cuenta los siguientes consejos:
                    		<div>
                    			<h2>Navega el catalogo</h2>
                    			<p>
                    				Puedes revisar el catalogo completo ya sea por marca o categoria. Desde Biowold a Lootcrate, pasando por Funko y Quantum Mechanix, puedes ver lo que tenemos para ti en cualquiera de ellas. Tambien puedes navegar por categoria, como figuras, llaveros, lanyards o accesorios. Como quieras navegar, puedes hacerlo!
                    			</p>
                    		</div>
                    		<div>
                    			<h2>Usa la busqueda</h2>
                    			<p>
                    				Hemos trabajado mucho para proveerte una busqueda que te pueda ayudar a encontrar el producto que estabas deseando de una forma rapida y eficiente. Usa la busqueda haciendo clic en el enlace de la barra lateral y el cuadro de texto en la parte superior!
                    			</p>
                    		</div>
                    		<div>
                    			<h2>Revisa los resultados</h2>
                    			<p>
                    				Hemos preparado una pagina por cada uno de nuestros productos, para que veas fotos reales del producto. Lo que ves es lo que te entregaremos. Es por ello que debes revisar el estado del mismo, y tambien ver la calidad en que se encuentra. Si estas satisfecho con el producto haz clic en enviar mensaje y habla con nosotros! con el enlace al producto podemos encontrarlo facilmente en nuestra tienda y entregartelo lo mas pronto posible.
                    			</p>
                    		</div>
                    		<div>
                    			<h2>Diviertete</h2>
                    			<p>
                    				Esperamos que te guste nuestro catalogo y encuentres lo que buscas con nosotros. Si tienes dudas o preguntas, no dudes en contactarnos via <a href="https://www.facebook.com/geekingdomsv">Facebook</a>
                    			</p>
                    		</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}