{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
        <div class="products-catagories-area clearfix">
          <div class="row" style="margin-left: 15px;">
            <div class="hover-content">
              <div class="line"></div> 
              <h2>POR CATEGORIA</h2>
            </div> 
          </div>
          <div class="amado-pro-catagory clearfix">
                {% for categoria in categorias %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{{url_for('main.categoria',slug=categoria.slug)}}">                        
                        <img src="{{url_for('static',filename='categorias/'+categoria.imagen)}}" alt="{{categoria.peq_desc}}">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Explora</p>
                            <h4>{{categoria.nombre}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        <div class="row" style="margin-left: 15px;">
            <div class="hover-content">
              <div class="line"></div> 
              <h2>POR MARCA</h2>
            </div>
        </div>
          <div class="amado-pro-catagory clearfix">
                {% for marca in marcas %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{{url_for('main.marca',slug=marca.slug)}}">                        
                        <img src="{{url_for('static',filename='categorias/'+marca.imagen)}}" alt="{{marca.nombre}}">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Explora</p>
                            <h4>{{marca.nombre}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
{% endblock %}