{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
    <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% for categoria in categorias %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{{url_for('categoria')}}">
                        {% %}
                        <img src="{{url_for('static',filename='categorias/'+categoria.imagen)}}" alt="{{categoria.peq_desc}}">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Explora</p>
                            <h4>{{categoria.nombre}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
{% endblock %}