{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
        <div class="products-catagories-area clearfix">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="{{url_for('static',filename='core-img/20170419_112218-1-bw-min.png')}}" alt="First slide">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
              </a>
          </div>
                          <div class="row">
                    <h4>Por categoria</h4>
                    <div class="line"></div>  
                </div>
            <div class="amado-pro-catagory clearfix">
                {% for categoria in categorias %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{{url_for('main.categoria',slug=categoria.slug)}}">
                        
                        <img src="{{url_for('static',filename='categorias/'+categoria.imagen)}}" alt="{{categoria.peq_desc}}">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Explora</p>
                            <h4>{{categoria.nombre}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
{% endblock %}