{% extends "base.html" %}

{% block page_content %}

<!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{producto.marca.nombre}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                	{% with imagenes = producto.imagenes.order_by('imagenes.primaria DESC').all() %}
                                        {% if imagenes %}
                                            {% for imagen in imagenes %}
                                                    <li {% if imagen.primaria == true %} class="active" {% endif %} data-target="#product_details_slider" data-slide-to="{{loop.index0}}" style="background-image: url({{ url_for('static', filename='productos/'+imagen.ruta)}});">
                                                    </li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}    
                                </ol>
                                <div class="carousel-inner">
                                    {% with imagenes = producto.imagenes.order_by('imagenes.primaria DESC').all() %}
                                        {% if imagenes %}
                                            {% for imagen in imagenes %}
                                                <div class="carousel-item {% if imagen.primaria == true %} active {% endif %}">
                                                    <a class="gallery_img" href="{{url_for('static', filename='productos/'+imagen.ruta)}}">
                                                        <img class="d-block w-100" src="{{url_for('static', filename='productos/'+imagen.ruta)}}" alt="">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
				            </div>                               
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">N/A</p>
                                <a href="#">
                                    <h6>{{ producto.nombre }}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        {% with stars = producto.estrellas()%}
                                        {% for i in range(stars[0] | int) %} 
                                            <i class="fa fa-star" aria-hidden="true"></i> 
                                        {% endfor %} 
                                        {% if stars[1] > 0 %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-star-empty" aria-hidden="true"></i>  
                                        {% endif %}
                                        {% endwith %}
                                        <span>{{ producto.condicion }}/10 </span>
                                    </div>
                                    <div class="review">
                                        <a href="#">Write A Review</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility">
                                    {% if producto.estado == 'DISPONIBLE' %}
                                        <i class="fa fa-circle"></i>
                                    {% elif producto.estado == 'RESERVADO'%}
                                        <i class="fa fa-circle orange"></i>
                                    {% else %}
                                        <i class="fa fa-circle red"></i>
                                    {% endif %} 
                                    {{producto.estado.value}}                                   
                                </p>
                            </div>

                            <div class="short_overview my-5">
                                <p>{{ producto.peq_desc}}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                <div class="cart-btn d-flex mb-50">
                                    <p>Cant. Disponible</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <button name="addtocart" value="5" class="btn amado-btn">Reservar! (mensaje por Facebook)</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
{% endblock %}