{% extends "base.html" %}

{% block page_content %}
    <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if not (productos is defined and productos[0] is defined) %}
                    <div>
                            <h2>Lo sentimos, tu busqueda no obtuvo resultados :/ </h2>
                        </div>
                    {% else %}
                        {% for producto in productos.items %}
                            {% include "_producto.html"%}
                        {% endfor %}
                    {% endif %}
                    
                </div>
            </div>
    </div>
{% endblock %}